URxvt.scrollBar: false
!Font 
urxvt*font: xft:SauceCodePro Nerd font Inconsolata:size=14

! special
URxvt*foreground:   #c5c8c6
URxvt*background:   #1d1f21
URxvt*cursorColor:  #c5c8c6

! black
URxvt*color0:       #1d1f21
URxvt*color8:       #969896

! red
URxvt*color1:       #cc6666
URxvt*color9:       #cc6666

! green
URxvt*color2:       #b5bd68
URxvt*color10:      #b5bd68

! yellow
URxvt*color3:       #f0c674
URxvt*color11:      #f0c674

! blue
URxvt*color4:       #81a2be
URxvt*color12:      #81a2be

! magenta
URxvt*color5:       #b294bb
URxvt*color13:      #b294bb

! cyan
URxvt*color6:       #8abeb7
URxvt*color14:      #8abeb7

! white
URxvt*color7:       #c5c8c6
URxvt*color15:      #ffffff
! +++++++++++++++++++++++++++++++++++++++++
! +          Rofi color theme             +
! +++++++++++++++++++++++++++++++++++++++++

rofi.color-enabled: true

! Window:           'background',  'border', 'separator'
rofi.color-window: argb:aa293133,  #9575cd, argb:ffffffff

!   State:              'bg',       'fg',   'altbg',        'hlbg',         hlfg
rofi.color-normal: argb:00252936, #ffffff, argb:00252936, argb:0006b9cf, #ff06b9cf
rofi.color-active: argb:00252936, #252936, argb:00252936, argb:0006b9cf, #ffc000
rofi.color-urgent: argb:00252936, #ff0000, argb:00252936, argb:00252936, #ff0000







rofi.show-icons: true
rofi.width: 100
rofi.padding: 400
rofi.line-margin: 15
rofi.lines: 3
rofi.separator-style: none
rofi.columns: 1
rofi.font: Inconsolata Bold 22
rofi.bw: 0
rofi.eh: 2
rofi.hide-scrollbar: true
rofi.opacity: 80
rofi.auto-select: true
!rofi.display-drun:false

